@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #000000;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  body.light-mode {
    background-color: #F2F2F7;
    color: #000000;
  }
}
