@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: 'Nunito', sans-serif;
    background-color: #000000;
    color: #ffffff;
    transition: background-color 0.5s ease;
  }

  body.light-mode {
    background-color: #F2F2F7;
  }
}
